# User credentials (Never commit these!)
oauth_creds.json
google_accounts.json
google_account_id
auth_profiles/

# Python cache
__pycache__/
*.pyc

# Python Virtual Environments
.venv/
env/
.env
.python-version

# IDE settings
.vscode/
.idea/

# Logs
*.log
